In [1]:
import pandas as pd

In [2]:
permit_df = pd.read_json("https://data.cityofchicago.org/resource/building-permits.json")

In [3]:
permit_df.head()

,id,permit_,permit_type,review_type,application_start_date,issue_date,processing_time,street_number,street_direction,street_name,...,contact_10_name,contact_10_city,contact_10_state,contact_10_zipcode,pin5,pin6,pin7,pin8,pin9,pin10
0,1860840,100208392,PERMIT - ELECTRIC WIRING,EASY PERMIT WEB,2007-10-25T00:00:00.000,2007-10-25T00:00:00.000,0,8600,S,GREEN BAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2192348,100355821,PERMIT - ELECTRIC WIRING,EASY PERMIT WEB,2010-07-28T00:00:00.000,2010-07-28T00:00:00.000,0,2501,S,CALIFORNIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3004830,100801182,PERMIT - SIGNS,SIGN PERMIT,2019-03-29T00:00:00.000,2019-07-15T00:00:00.000,108,231,S,LA SALLE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3075526,100844202,PERMIT - ELECTRIC WIRING,EASY PERMIT WEB,2019-10-03T00:00:00.000,2019-10-03T00:00:00.000,0,1330,W,FULTON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3061178,100835436,PERMIT - WRECKING/DEMOLITION,DEMOLITION PERMIT,2019-08-12T00:00:00.000,2019-10-03T00:00:00.000,52,7211,S,EMERALD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
permit_df_shape=permit_df.shape

permit_df_shape[0]

1000

## First Objective: How does start date affect length to approval?

In [5]:
permit_df['start_month']=''
for j in range(0,permit_df_shape[0]):
    permit_df['start_month'].iloc[j]=permit_df['application_start_date'].iloc[j][5:7]
permit_df['start_month'] = pd.to_numeric(permit_df['start_month'])

C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [6]:
permit_df['start_month']

0      10
1       7
2       3
3      10
4       8
       ..
995     7
996     5
997     7
998     7
999     7
Name: start_month, Length: 1000, dtype: int64

In [7]:
month_proc_time_gb=permit_df[['start_month','processing_time']].groupby(['start_month'], as_index=False)

month_proc_time_df=pd.DataFrame(month_proc_time_gb.mean())

month_proc_time_df

    start_month  processing_time
0             1        35.558824
1             2        28.735294
2             3        30.093750
3             4        26.750000
4             5        45.692308
5             6        93.861111
6             7         7.650307
7             8        17.333333
8             9        59.319149
9            10        42.843373
10           11         4.260870
11           12        81.629630

In [92]:
month_num_applications_df=pd.DataFrame(month_proc_time_gb.count())

month_num_applications_df

    start_month  processing_time
0             1               34
1             2               34
2             3               64
3             4               52
4             5               52
5             6               72
6             7              326
7             8               48
8             9               47
9            10               83
10           11              161
11           12               27

In [ ]:
# Redo analysis without instantly approved applications

## Second Objective: How does zip code affect length to approval?

In [43]:
zip_proc_time_gb=permit_df[['community_area','processing_time','total_fee']].groupby(['community_area'], as_index=False)

zip_proc_time_df=pd.DataFrame(zip_proc_time_gb.mean())

zip_proc_time_df

    community_area  processing_time     total_fee
0              1.0        26.888889    272.666667
1              2.0         8.428571    441.428571
2              3.0         2.571429    560.714286
3              4.0        50.866667    438.648000
4              5.0        24.307692   4911.700000
..             ...              ...           ...
70            73.0         0.285714    410.714286
71            74.0         0.000000    431.250000
72            75.0         1.500000    581.853333
73            76.0         6.666667  12249.250000
74            77.0        50.923077    754.735385

[75 rows x 3 columns]

In [55]:
# iterating the columns 
for col in permit_df.columns: 
    print(col)

id
permit_
permit_type
review_type
application_start_date
issue_date
processing_time
street_number
street_direction
street_name
suffix
work_description
building_fee_paid
zoning_fee_paid
other_fee_paid
subtotal_paid
building_fee_unpaid
zoning_fee_unpaid
other_fee_unpaid
subtotal_unpaid
building_fee_waived
zoning_fee_waived
other_fee_waived
subtotal_waived
total_fee
contact_1_type
contact_1_name
contact_1_city
contact_1_state
contact_1_zipcode
reported_cost
community_area
census_tract
ward
contact_2_type
contact_2_name
contact_2_city
contact_2_state
contact_2_zipcode
contact_3_type
contact_3_name
contact_3_city
contact_3_state
contact_3_zipcode
pin1
xcoordinate
ycoordinate
latitude
longitude
location
:@computed_region_rpca_8um6
:@computed_region_vrxf_vc4k
:@computed_region_6mkv_f3dw
:@computed_region_bdys_3d7i
:@computed_region_43wa_7qmu
:@computed_region_awaf_s7ux
contact_4_type
contact_4_name
contact_4_city
contact_4_state
contact_4_zipcode
contact_5_type
contact_5_name
contact_5_city
contact_5_state
contact_5_zipcode
contact_6_type
contact_6_name
contact_6_city
contact_6_state
contact_6_zipcode
contact_7_type
contact_7_name
contact_7_city
contact_7_state
contact_7_zipcode
contact_8_type
contact_8_name
contact_8_city
contact_8_state
contact_8_zipcode
contact_9_type
contact_9_name
contact_9_city
contact_9_state
contact_9_zipcode
pin2
pin3
pin4
contact_10_type
contact_10_name
contact_10_city
contact_10_state
contact_10_zipcode
pin5
pin6
pin7
pin8
pin9
pin10
start_month

In [10]:
permit_df['community_area']

0       NaN
1      30.0
2      32.0
3      28.0
4      68.0
       ...
995    28.0
996    67.0
997    16.0
998    56.0
999    33.0
Name: community_area, Length: 1000, dtype: float64

## Objective 3 How do permits per population in a zip code compare for diffenet zip codes.

In [44]:
# Data from https://datahub.cmap.illinois.gov/dataset/2010-census-data-summarized-to-chicago-community-areas

# File to Load (Remember to Change These)
file_to_load = "data/CCASF12010CMAP.csv"

# Read Purchasing File and store into Pandas dataframe
population_data = pd.read_csv(file_to_load)
population_data.head()

,GEOGNAME,GEOGKEYX,P0050001,P0050003,P0050004,P0050005,P0050006,P0050007,P0050008,P0050009,...,Unnamed: 119,Unnamed: 120,Unnamed: 121,Unnamed: 122,Unnamed: 123,Unnamed: 124,Unnamed: 125,Unnamed: 126,Unnamed: 127,Unnamed: 128
0,Geog,GeogKey,Total Population,"Not Hispanic or Latino, White alone","Not Hispanic or Latino, Black or African Ameri...","Not Hispanic or Latino, American Indian and Al...","Not Hispanic or Latino, Asian alone","Not Hispanic or Latino, Native Hawaiian and Ot...","Not Hispanic or Latino, Some Other Race alone","Not Hispanic or Latino, Two or More Races",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Rogers Park,1,54991,21618,14461,142,3523,39,202,1573,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,West Ridge,2,71942,30706,8015,189,16184,3,225,1919,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Uptown,3,56362,29098,11275,191,6414,10,130,1235,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Lincoln Square,4,39493,24916,1488,72,4399,11,128,917,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
zip_ct_df=pd.DataFrame(zip_proc_time_gb.count())

zip_ct_df['Total Population']=''
for j in range(0,zip_ct_df.shape[0]):
    zip_ct_df['Total Population'].iloc[j]=population_data['P0050001'].iloc[int(zip_ct_df['community_area'].iloc[j])]
zip_ct_df['Total Population']=pd.to_numeric(zip_ct_df['Total Population'])

zip_ct_df['perm_p_person']=(zip_ct_df['processing_time']/zip_ct_df['Total Population'])
    
zip_ct_df

,community_area,processing_time,total_fee,Total Population,perm_p_person
0,1.0,9,9,54991,0.000164
1,2.0,14,14,71942,0.000195
2,3.0,7,7,56362,0.000124
3,4.0,15,15,39493,0.000380
4,5.0,13,13,31867,0.000408
...,...,...,...,...,...
70,73.0,7,7,26493,0.000264
71,74.0,4,4,19093,0.000210
72,75.0,6,6,22544,0.000266
73,76.0,6,6,12756,0.000470
74,77.0,13,13,56521,0.000230

## Object 4 What is the average permit fee for all projects in a zip code?

In [48]:
zip_fee_df=pd.DataFrame(zip_proc_time_gb.mean())

zip_fee_df

    community_area  processing_time     total_fee
0              1.0        26.888889    272.666667
1              2.0         8.428571    441.428571
2              3.0         2.571429    560.714286
3              4.0        50.866667    438.648000
4              5.0        24.307692   4911.700000
..             ...              ...           ...
70            73.0         0.285714    410.714286
71            74.0         0.000000    431.250000
72            75.0         1.500000    581.853333
73            76.0         6.666667  12249.250000
74            77.0        50.923077    754.735385

[75 rows x 3 columns]

## Objective 5 Find highest and lowest income zip codes.  What is the most common permit in these zip codes?

In [51]:
# Data from https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2/data

# File to Load (Remember to Change These)
file_to_load = "data/Per_Capita_Income.csv"

# Read Purchasing File and store into Pandas dataframe
income_data = pd.read_csv(file_to_load)
income_data.head()

,Community Area Number,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0

## What address paid the most permit fees?  (in each zip code)

In [91]:
#com_area_indexes=pd.to_numeric(
com_area_indexes=pd.to_numeric(permit_df['community_area'].dropna()).tolist()
com_area_indexes=[int(index) for index in com_area_indexes]

max_indicies=[permit_df[permit_df['community_area']==index]['total_fee'].idxmax() for index in com_area_indexes]
max_indicies

#for index in com_area_indexes:
#    print(permit_df[['community_area','total_fee','street_direction','street_number','street_name']][index])

KeyError: 30

In [94]:
per_type_gb=permit_df[['permit_type','processing_time','total_fee']].groupby(['permit_type'], as_index=False)

per_type_sum_df=pd.DataFrame(per_type_gb.sum())

per_type_sum_df

                      permit_type  processing_time   total_fee
0    PERMIT - EASY PERMIT PROCESS              463    96544.13
1        PERMIT - ELECTRIC WIRING              198    15940.00
2     PERMIT - ELEVATOR EQUIPMENT                5    13097.00
3       PERMIT - NEW CONSTRUCTION              929   245234.92
4     PERMIT - PORCH CONSTRUCTION               27      770.00
5  PERMIT - REINSTATE REVOKED PMT                0     9503.95
6  PERMIT - RENOVATION/ALTERATION             9187  1001442.95
7            PERMIT - SCAFFOLDING                0     2275.00
8                  PERMIT - SIGNS            15741    19750.00
9    PERMIT - WRECKING/DEMOLITION              647     8000.00

In [95]:
per_type_ct_df=pd.DataFrame(per_type_gb.count())

per_type_ct_df

                      permit_type  processing_time  total_fee
0    PERMIT - EASY PERMIT PROCESS              241        241
1        PERMIT - ELECTRIC WIRING              129        129
2     PERMIT - ELEVATOR EQUIPMENT               17         17
3       PERMIT - NEW CONSTRUCTION               38         38
4     PERMIT - PORCH CONSTRUCTION                3          3
5  PERMIT - REINSTATE REVOKED PMT               13         13
6  PERMIT - RENOVATION/ALTERATION              471        471
7            PERMIT - SCAFFOLDING                7          7
8                  PERMIT - SIGNS               65         65
9    PERMIT - WRECKING/DEMOLITION               16         16

In [100]:
per_type_mth_gb=permit_df[['permit_type','start_month','processing_time','total_fee']].groupby([
    'permit_type','start_month'], as_index=False)

per_type_mth_ct_df=pd.DataFrame(per_type_mth_gb.count())

per_type_mth_ct_df[per_type_mth_ct_df['permit_type']=='PERMIT - EASY PERMIT PROCESS']

                     permit_type  start_month  processing_time  total_fee
0   PERMIT - EASY PERMIT PROCESS            1                3          3
1   PERMIT - EASY PERMIT PROCESS            2                3          3
2   PERMIT - EASY PERMIT PROCESS            3               14         14
3   PERMIT - EASY PERMIT PROCESS            4               12         12
4   PERMIT - EASY PERMIT PROCESS            5                4          4
5   PERMIT - EASY PERMIT PROCESS            6               11         11
6   PERMIT - EASY PERMIT PROCESS            7              108        108
7   PERMIT - EASY PERMIT PROCESS            8                5          5
8   PERMIT - EASY PERMIT PROCESS            9                5          5
9   PERMIT - EASY PERMIT PROCESS           10               15         15
10  PERMIT - EASY PERMIT PROCESS           11               59         59
11  PERMIT - EASY PERMIT PROCESS           12                2          2

In [101]:

per_type_mth_ct_df[per_type_mth_ct_df['permit_type']=='PERMIT - RENOVATION/ALTERATION']

                       permit_type  start_month  processing_time  total_fee
46  PERMIT - RENOVATION/ALTERATION            1               24         24
47  PERMIT - RENOVATION/ALTERATION            2               27         27
48  PERMIT - RENOVATION/ALTERATION            3               28         28
49  PERMIT - RENOVATION/ALTERATION            4               25         25
50  PERMIT - RENOVATION/ALTERATION            5               34         34
51  PERMIT - RENOVATION/ALTERATION            6               47         47
52  PERMIT - RENOVATION/ALTERATION            7              120        120
53  PERMIT - RENOVATION/ALTERATION            8               40         40
54  PERMIT - RENOVATION/ALTERATION            9               25         25
55  PERMIT - RENOVATION/ALTERATION           10               38         38
56  PERMIT - RENOVATION/ALTERATION           11               41         41
57  PERMIT - RENOVATION/ALTERATION           12               22         22